@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --main: #AA3939;
  --dark: #550000;
  --light: #D46A6A;
  --T: #FFAAAA;
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
}

body {
  background-color: black;
  /* background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='52' height='52' viewBox='0 0 52 52'%3E%3Cpath fill='%23aa3939' fill-opacity='0.19' d='M0 17.83V0h17.83a3 3 0 0 1-5.66 2H5.9A5 5 0 0 1 2 5.9v6.27a3 3 0 0 1-2 5.66zm0 18.34a3 3 0 0 1 2 5.66v6.27A5 5 0 0 1 5.9 52h6.27a3 3 0 0 1 5.66 0H0V36.17zM36.17 52a3 3 0 0 1 5.66 0h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 0 1 0-5.66V52H36.17zM0 31.93v-9.78a5 5 0 0 1 3.8.72l4.43-4.43a3 3 0 1 1 1.42 1.41L5.2 24.28a5 5 0 0 1 0 5.52l4.44 4.43a3 3 0 1 1-1.42 1.42L3.8 31.2a5 5 0 0 1-3.8.72zm52-14.1a3 3 0 0 1 0-5.66V5.9A5 5 0 0 1 48.1 2h-6.27a3 3 0 0 1-5.66-2H52v17.83zm0 14.1a4.97 4.97 0 0 1-1.72-.72l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1 0-5.52l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43c.53-.35 1.12-.6 1.72-.72v9.78zM22.15 0h9.78a5 5 0 0 1-.72 3.8l4.44 4.43a3 3 0 1 1-1.42 1.42L29.8 5.2a5 5 0 0 1-5.52 0l-4.43 4.44a3 3 0 1 1-1.41-1.42l4.43-4.43a5 5 0 0 1-.72-3.8zm0 52c.13-.6.37-1.19.72-1.72l-4.43-4.43a3 3 0 1 1 1.41-1.41l4.43 4.43a5 5 0 0 1 5.52 0l4.43-4.43a3 3 0 1 1 1.42 1.41l-4.44 4.43c.36.53.6 1.12.72 1.72h-9.78zm9.75-24a5 5 0 0 1-3.9 3.9v6.27a3 3 0 1 1-2 0V31.9a5 5 0 0 1-3.9-3.9h-6.27a3 3 0 1 1 0-2h6.27a5 5 0 0 1 3.9-3.9v-6.27a3 3 0 1 1 2 0v6.27a5 5 0 0 1 3.9 3.9h6.27a3 3 0 1 1 0 2H31.9z'%3E%3C/path%3E%3C/svg%3E"); */
}

/* navbar */
.nav-link {
  padding: 10px;
  font-size: 25px;
  display: flex;
  float: right;
  color: white;
}

.link-1 {
  padding: 20px;
  font-size: 25px;
  display: flex;
  float: right;
  color: white;
}

.searchBoxOuter input {
  padding: 8px 8px;
  margin-left: 1em;
  border: 2px solid white;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 10px 12px 14px rgba(0, 0, 0, 0.2);
}

/* all buttons */
button {
  font-size: 15px;
  color: white;
  border: none;
  padding: 2px 25px;
  border-radius: 5px;
  background-color: black;
}

.searchBoxOuter button {
  padding: 0.5rem;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0.5em;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

/* home page */
.countryInfo {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 12px 14px rgba(0, 0, 0, 0.2);
}

.countryInfo:nth-child(2n + 2),
.countryInfo:nth-child(0) {
  background-color: black;
  border: 3px solid white;
}

.card-t {
  display: flex;
}

.home-heading {
  padding: 2em;
  width: 100%;
  height: 20%;
}

.home-heading header {
  display: inline-flex;
}

.map-image {
  width: 95%;
  height: auto;
  padding-left: 100px;
}

.map-heading {
  font-size: 45px;
  text-align: center;
  padding-bottom: 8em;
}

.map-heading h1 {
  padding: 180px 50px;
}

.home-card-heading {
  font-size: 30px;
  padding: auto;
}

/* .card-body {
  padding-bottom: 20px;
  font-size: 25px;
}
 */

/* city page */
.cityBlockContainer {
  margin: 0;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20%;
}

.cityBlockContainer:nth-child(even) {
  background-color: white;
}

.cityBlockContainer:nth-child(odd) {
  background-color: black;
}

.city-headline {
  text-align: center;
  font-size: 30px;
  color: black;
  padding-top: 80px;
}

.countryInfo {
  text-align: center;
  padding: 80px;
}

.card-heading {
  font-size: 35px;
  text-decoration: underline;
}

.cityBlock {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

/* .load-data-btn {
  padding-bottom: 80px;
} */

/* pollutiondata page */
.pollutionData {
  padding: 0.2rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.table-border {
  border: 2px solid var(--T);
}

.t-Heading th {
  font-size: 30px;
  padding: 5px;
  text-decoration: underline;
}

.pollution-data {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.pollution-data:nth-child(odd) {
  background-color: var(--T);
}

.t-Heading th:nth-child(even) {
  background-color: var(--T);
}

@media (max-width: 480px) {
  /* navbar */
  .searchBoxOuter input {
    padding: 2px 2px;
    font-size: 9px;
  }

  .searchBoxOuter button {
    margin: 0.4em;
    padding: 2px 2px;
    font-size: 8px;
  }

  .nav-link {
    padding: 7px;
    font-size: 14px;
    text-decoration: none;
  }

  .link-1 {
    padding: 14px;
    font-size: 14px;
    text-decoration: none;
  }

  .home-heading header {
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: 1 2fr;
  }

  /* home page */
  .map-image img {
    width: 85%;
    height: auto;
    margin: 20px -30px;
  }

  .map-heading {
    width: 85%;
    height: auto;
    font-size: 12px;
    padding-top: 80px;
    
  }

  .map-heading h1 {
    color: white;
  }

  .countryInfo {
    width: 60%;
    height: auto;
    height: 16rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
  }

  .countryInfo:nth-of-type(2n+1) {
    background-color: white;
  }

  .home-countries {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-t {
    display: grid;
    grid-template-columns: 1fr;
  }

  .home-card-heading {
    font-size: 20px;
    /* padding: 12px; */
  }

  .card-body {
    font-size: 18px;
  }

  .card-heading {
    font-size: 25px;
  }

  /* city page */
  .cityBlockContainer {
    display: inline-block;
    width: 100%;
    height: 15%;
  }

  .cityBlock {
    height: 8rem;
    float: left;
  }

  .city-headline {
    width: 140%;
    height: 15%;
    font-size: 28px;
    padding-right: 1em;
  }

  .load-data-btn button {
    margin-left: 5.8rem;
    margin-top: 2.5em;
  }

  .countryInfo {
    height: 15%;
  }

  /* pollutiondata page */
  .pollutionData {
    width: 100%;
    padding: 1.5rem;
  }

  .t-Heading th {
    font-size: 12px;
  }

  .pollution-data {
    font-size: 10px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  /* home page */
  .home-heading header {
    margin-left: -1em;
  }

  .countryInfo {
    width: 50%;
  }

  .cityBlockContainer {
    width: 100%;
  }

  .cityBlockContainer:nth-child(even) {
    background-color: white;
  }

  /* pollutiondata page */
  .pollutionData {
    padding: 0.2rem;
    padding-top: 4rem;
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* home page */
  .home-heading header {
    margin-left: -1em;
    width: 100%;
    height: 50%;
  }

  .countryInfo {
    width: 100%;
  }

  .cityBlockContainer {
    width: 100%;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) {
  /* navbar */
  .nav-link {
    padding: 8px;
    font-size: 20px;
    display: flex;
    float: right;
  }

  .link-1 {
    padding: 15px;
    font-size: 20px;
    display: flex;
    float: right;
  }

  .searchBoxOuter input {
    padding: 8px 8px;
    margin-left: 1em;
    border: 2px solid var(--T);
    color: white;
    text-align: center;
    border-radius: 5px;
    background-color: var(--light);
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
  }

  /* all buttons */
  button {
    background-color: var(--pink);
    padding: 5px;
    font-size: 15px;
    border: none;
  }

  .searchBoxOuter button {
    padding: 8px 8px;
    font-size: 15px;
  }

  /* home page */
  .home-heading {
    padding: 2em;
    width: 100%;
    height: 20%;
  }

  .home-heading header {
    display: inline-flex;
  }

  .map-image {
    width: 70%;
    height: auto;
  }

  .map-heading {
    font-size: 25px;
    text-align: center;
    padding-bottom: 8em;
  }

  .map-heading h1 {
    padding-top: 5em;
    padding-left: 2em;
  }

  .home-card-heading {
    font-size: 35px;
    padding: 30px;
  }

  .countryInfo {
    width: 20%;
    height: 35vh;
  }

  /* city page */
  .countryInfo {
    height: 15%;
    font-size: 28px;
  }

  .card-heading {
    font-size: 35px;
  }

  .card-t {
    font-size: 25px;
  }

  .cityBlockContainer {
    width: 20%;
    height: 35vh;
    justify-content: center;
    text-align: center;
  }

  .city-headline {
    font-size: 34px;
    padding-left: 4em;
    text-align: center;
  }

  .load-data-btn {
    padding-right: 5.5em;
  }

  /* pollutiondata page */
  .pollutionData {
    padding: 0.2rem;
    padding-top: 4rem;
    width: 100%;
  }

  .t-Heading th {
    font-size: 25px;
  }

  .pollution-data {
    font-size: 18px;
  }
}

@media (min-width: 1281px) {

}
