@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

}

body {
  background-color: black;
}

/* navbar */
.searchBoxOuter input {
  padding: 8px 8px;
  margin-left: 1em;
  border: 2px solid white;
  text-align: center;
  border-radius: 5px;
  background-color: black;
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  box-shadow: 10px 12px 14px rgba(0, 0, 0, 0.2);
}

.searchBoxOuter button {
  padding: 0.5rem;
  background-color: black;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0.9em;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.nav-link {
  padding: 10px;
  font-size: 25px;
  display: flex;
  float: right;
  color: white;
}

.link-1 {
  padding: 20px;
  font-size: 25px;
  display: flex;
  float: right;
  color: white;
}

/* all buttons */
button {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: white;
  border: none;
  padding: 2px 25px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: black;
}

.country-box {
  color: white;
  font-size: 20px;
  margin: 4px 2px 4px 2px;
}

/* home page */
.home-countries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding-top: 2em;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
}

.countryInfo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px auto;
  border-radius: 10px;
  border: 4px solid black;
  color: white;
}

.countryInfo:nth-child(odd) {
  background-image: url(C:\Users\atdie\Desktop\Air-pollution-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.countryInfo:nth-child(even) {
  background-image: url(C:\Users\atdie\Desktop\Air-pollution-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.card-t {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 10px;
}

.card-text {
  font-size: 24px;
  padding: 10px;
}

.home-heading {
  padding: 2em;
  width: 100%;
  height: 20%;
}

.home-heading header {
  display: inline-flex;
}

.map-image {
  width: 95%;
  height: auto;
  padding-left: 100px;
}

.map-heading {
  color: white;
  font-size: 45px;
  text-align: center;
  padding-bottom: 8em;
}

.map-heading h1 {
  padding: 180px 50px;
}

.home-card-heading {
  font-size: 35px;
  padding: auto;
  margin-bottom: 60px;
}

/* city page */
.cityBlockContainer {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20rem;
  width: 20%;
  color: white;
  font-weight: bold;
  border: 5px solid black;
  border-radius: 5px;
}

.cityBlockContainer:nth-child(even) {
  background-image: url(C:\Users\atdie\Desktop\Air-pollution-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.9;
}

.cityBlockContainer:nth-child(odd) {
  background-image: url(C:\Users\atdie\Desktop\Air-pollution-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.city-headline {
  text-align: center;
  font-size: 30px;
  padding-top: 40px;
}

.countryInfo {
  text-align: center;
  padding: 80px;
}

.card-heading {
  font-size: 45px;
  text-decoration: underline;
}

.cityBlock {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: 100%;
}

/* pollutiondata page */
.pollutionData {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}

.table-border {
  border: 2px solid white;
}

.t-Heading th {
  font-size: 30px;
  padding: 5px;
  text-decoration: underline;
}

.pollution-data {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.pollution-data:nth-child(odd) {
  background-color: white;
  color: black;
}

.t-Heading th:nth-child(even) {
  background-color: white;
  color: black;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .searchBoxOuter input {
    font-size: 10px;
    padding: 3px 2px;
  }

  .searchBoxOuter button {
    font-size: 9px;
    padding: 2px 3px;
    margin: 10px;
  }

  .nav-link {
    font-size: 16px;
  }

  .link-1 {
    font-size: 16px;
  }

  .home-heading {
    width: 100%;
    height: 100vh;
  }

  .home-heading header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .map-image img {
    width: 100%;
    height: 100%;
    padding-right: 90px;
  }

  .map-heading {
    font-size: 20px;
    margin: auto;
    margin-top: -140px;
  }

  .home-countries {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .countryInfo {
    width: 80%;
  }

  .cityBlockContainer {
    width: 80%;
    height: 30vh;
    margin: 0 60px;
  }

  button {
    margin-bottom: 20px;
  }

  .t-Heading th {
    font-size: 18px;
  }

  .pollution-data {
    font-size: 16px;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  #homeHeading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #mapImage {
    width: 100%;
    height: 100%;
    padding-right: 90px;
  }

  #mapHeading {
    font-size: 20px;
    margin: auto;
    margin-top: -140px;
  }

  #homeCountries {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  #countryInfo {
    width: 80%;
  }

  #cityInfo {
    width: 60%;
    height: 40vh;
    margin: 0 250px;
  }
}

@media screen and (max-width: 1400px) {

}




